* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* selettori generici */

.wrapper {
    width: 70%;
    margin: 0 auto;
}

p {
    margin: 20px 0;
    line-height: 1.5em;
}
main h2 {
    margin-top: 50px;
}
a {
    cursor: pointer;
    color: blue;
}

.circle {
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: green;
    margin-left: 10px;
}
.circle::after {
    content: 'L';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

/* selettori generici */

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 20px 0 20px;
    border-bottom: 1px solid lightgrey;
    color: grey;
    background-color: white;
}
#header-top {
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
#header-top > div {
    display: flex;
    align-items: center;
}
#header-top h2 {
    display: inline-block;
    font-weight: 400;
    margin-left: 10px;
}
#header-top img {
    height: 60%;
}
#header-top i {
    margin: -2px;
}
#header-top .circle {
    margin-left: 20px;
}
header nav ul {
    list-style: none;
}
header nav ul li {
    display: inline-block;
    margin-right: 30px;
}
header nav ul li.active {
    color: blue;
    padding-bottom: 10px;
    border-bottom: 3px solid blue;
}

main {
    padding-top: 100px;
    color: rgb(75,75,75);
}
main li {
    margin: 15px 0;
}
main ol {
    margin-left: 18px;
}
main ol > ol {
    list-style-type: lower-alpha;
}

footer {
    background-color: rgb(240,240,240);
    padding: 15px 0;
}
footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer ul {
    list-style: none;
}
footer ul li {
    display: inline-block;
    position: relative;
    padding-right: 10px;
    font-size: 0.8em;
    color: grey;
}
footer ul li:not(:last-child)::after {
    content: '.';
    position: absolute;
    bottom: 0.3em;
    right: 0;
}
footer i {
    transform: scaleX(-1);
    vertical-align: middle;
    margin-right: 5px;
    color: blue;
}
footer select {
    width: 150px;
}