* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* selettori generici */

p {
    margin: 20px 0;
}
main h2 {
    margin-top: 50px;
}

/* selettori generici */

header {
    padding: 20px;
    border-bottom: 1px solid lightgrey;
}
#header-top {
    height: 40px;
    display: flex;
    justify-content: space-between;
}
#header-top > div {
    display: flex;
    align-items: center;
}
#header-top h2 {
    display: inline-block;
}
#header-top img {
    height: 60%;
}
header nav ul {
    list-style: none;
}
header nav ul li {
    display: inline-block;
    margin-right: 30px;
}

main {
    width: 70%;
    margin: 0 auto;
}